<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
    </head>
    <body>
        <h1>Jobs Finder</h1>
        <div>
<!--            <p th:text="${name}">name</p>-->
            <p>Nombre del puesto: [[${name}]]</p>
            <div>
                <p>Fecha de publicación: [[${date}]]</p>
                <p>Se ecnuentra disponible: [[${available}]]</p>
            </div>
            <p>Oferta: [[${salary}]]</p>
        </div>

    </body>
</html>